<!-----ADMIN------->
{% load account %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div class="top-nav">
  <div class="left">
    <a href="#">Dashboard</a>
    <a href="adminproduct/">Products</a>
    <a href="#">Orders</a>
    <a href="#">Payment</a>
  </div>
  <div class="right">
    <div class="welcome">
      <p>Welcome, {% user_display user %}!</p>
    </div>
    <a href="{% url 'account_logout' %}" class="">Sign Out</a>
  </div>
</div>
            
<!-----USER------->
{% elif user.is_staff %}
{% else %}
<div class="top-nav">
  <div class="left">
    <a href="/home">Home</a>
    <a href="#">About</a>
    <a href="#">Contact Us</a>
    <a href="#">Location</a>
  </div>
  <div class="right">
    <div class="welcome">
      <p>Welcome, {% user_display user %}!</p>
    </div>
    <a href="{% url 'account_logout' %}" class="">Sign Out</a>
  </div>
</div>
{% endif %}

{% else %}
<div class="top-nav">
  <div class="left">
    <a href="/">Home</a>
    <a href="#">About</a>
    <a href="#">Contact Us</a>
    <a href="#">Location</a>
  </div>
  <div class="right">
    <a class="" href="{% url 'account_login' %}">Sign in</a>
  </div>
</div>
{% endif %}