{% load i18n %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'signup_styles.css' %}"> 
  <title>SIGNUP</title>
</head>
<body>
  <div class="form-wrapper">
    <div class="form">
    <div class="logo">
      <a href="/"><img src="{% static 'logo.png' %}" alt="My image"></a>
    </div>
    <div class="">
      <p>Already have an account? Then please <a class="" href="{{ login_url }}">sign in</a>.</p>
    </div>

    <div class="">
      <h1 class=""> <span class="">Create Your Account</span>
      </h1>

      <form  class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <div>
          {% csrf_token %}
          <div class="f-user">
            {{ form.username }}
          </div>

          <div class="f-email">
            {{ form.email }}
          </div>

          <div class="f-pass1">
            {{ form.password1 }}
          </div>

          <div class="f-pass2">
            {{ form.password2 }}
          </div>
          
          {% if redirect_field_value %}
          
          <input type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

          {% endif %}

          <button type="submit" class="signup-button">
            {% trans "Sign Up"%}
          </button>


        </div>
      </form>
    </div>
    </div>
    {% endblock %}
  </div>
</body>
</html>