<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Confirmation</title>
    <script>
        function confirmDelete() {
            document.getElementById('deleteForm').submit();
        }
    </script>
</head>
<body>
    <h1>Delete Product</h1>
    <p>Are you sure you want to delete '{{ product.prodName }}'?</p>
    <div class="current-image">
        <img src="{{ product.image.url }}" alt="{{ product.prodName }}" style="max-width: 300px; height: 250px; text-align: center; ">
    </div>
    <form id="deleteForm" method="post">
        {% csrf_token %}
        <button type="button" onclick="confirmDelete()">Delete</button>
        <a href="/adminproduct">Cancel</a>
    </form>
</body>
</html>