form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form p {
    text-align: center;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="submit"] {
    display: block;
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

form p:last-child {
    margin-bottom: 0;
}

form a {
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}