{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="{% static 'cart_styles.css' %}">
</head>
<body>
    <div class="wrapper">
		<div class="yourcart">
			<h1>Your Shopping Cart</h1>
		</div>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td><img src="{{ item.product.image.url }}" alt="{{ item.product.prodName }}"></td>
                    <td>{{ item.product.prodName }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₱ {{ item.product.price }}</td>
                    <td>₱ {{ item.subtotal }}</td>
                    <td><button class="remove-button"><a href="{% url 'remove_from_cart' item.id %}">Remove</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		<div class="totalprice">
			<p>Total Price: ₱ {{ total_price }}</p>
		</div>

        <a class="buy-now-button" href="{% url 'checkout' %}">Checkout</a>

		<div class="back">
			<a href="/home">Continue Shopping</a>
		</div>
    </div>
</body>
</html>