{% load static %}
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'index_styles.css' %}"> 
</head>

<body>
  {% load account %}

  {% if request.user.is_authenticated %}
  <div class="top-nav">
    <div class="left">
      <a href="/">Home</a>
      <a href="#">About</a>
      <a href="#">Contact Us</a>
      <a href="#">Location</a>
    </div>
    <div class="right">
      <p class="ml-3"> Welcome, {% user_display user %}!</p>
      <a href="{% url 'account_logout' %}" class="">Sign Out</a>
    </div>
</div>
<div class="logo">
  <div class="logo-info">
    <img src="{% static 'logo.png' %}" alt="My image"/>
  </div>
  <div class="meatshop">
    <h1>Bigornia's</h1>
    <h3>Meat Shop</h3>
  </div>
</div>
<div class="cover-photo">
  <p>Fresh Meat</p>
  <p>Available</p>
  <button>Order Now</button>
</div>
<!--div class="flex m-auto border w-[60%] justify-center  bg-blue-200 h-20 rounded rounded-lg">
  <p class="mt-6 ml-3"> Hello.</p>
  <a class="ml-auto mt-6 mr-3" href="{% url 'account_login' %}">Sign in</a>
</div-->
<div class="category">
  <div class="categ">
    <a href="#">All Products</a>
    <a href="#">Beef</a>
    <a href="#">Pork</a>
    <a href="#">Chicken</a>
  </div>
  <div class="cart">
    <a href="#">Cart</a>
  </div>
</div>
<div class="product-gallery">
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  <div class="prod-cont">
    <div class="prod">
      <div class="image">
        <img src="{% static 'belly.jpg' %}" alt="p1"/>
      </div>
      <div class="prod-info">
        <h2>Pork Belly</h2>
        <p>Price: 250/kg</p>
        <button>add to cart</button>
      </div>
    </div>
  </div>
  
</div>

<p style="text-align: center;">FOOTER</p>
<div class="footer">
</div>
<div class="copyright">
  <p>copyright @2024, design by: AngkolTonyo</p>
</div>

  {% else %}
  {% load account %}

  {% if user.is_authenticated and user.is_staff%}

    {% include 'navbar.html' %}

        <h1 class="ml-3"> Welcome, {% user_display user %}!</h1>

    {%else%}

      {% include 'navbar.html' %}


      <div class="intro-text">

        <h1>SODA TRADE CORPORATION</h1>

        <h2>Dealer Commercial Rice</h2>

        <p>Welcome to our online store, where we offer top quality Rice 
          <br>at unbeatable prices. Our customer service is unmatched,and we 
          <br>stock all the latest and greatest commercial rice. Can't find</br>
          what you're looking for? Contact us.</p>

        <br>

        <a href="{% url 'account_login' %}">
        <button class="btn-intro">buy now</button></a>
    </div>
    {%endif%}
  <div class="top-nav">
      <div class="left">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
        <a href="#">Location</a>
      </div>
      <div class="right">
        <a class="" href="{% url 'account_login' %}">Sign in</a>
      </div>
  </div>
  <div class="logo">
    <div class="logo-info">
      <img src="{% static 'logo.png' %}" alt="My image"/>
    </div>
    <div class="meatshop">
      <h1>Bigornia's</h1>
      <h3>Meat Shop</h3>
    </div>
  </div>
  <div class="cover-photo">
    <p>Fresh Meat</p>
    <p>Available</p>
    <button>Order Now</button>
  </div>
  <!--div class="flex m-auto border w-[60%] justify-center  bg-blue-200 h-20 rounded rounded-lg">
    <p class="mt-6 ml-3"> Hello.</p>
    <a class="ml-auto mt-6 mr-3" href="{% url 'account_login' %}">Sign in</a>
  </div-->
  <div class="category">
    <div class="categ">
      <a href="#">All Products</a>
      <a href="#">Beef</a>
      <a href="#">Pork</a>
      <a href="#">Chicken</a>
    </div>
    <div class="cart">
      <a href="#">Cart</a>
    </div>
  </div>
  <div class="product-gallery">
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
    <div class="prod-cont">
      <div class="prod">
        <div class="image">
          <img src="{% static 'belly.jpg' %}" alt="p1"/>
        </div>
        <div class="prod-info">
          <h2>Pork Belly</h2>
          <p>Price: 250/kg</p>
          <button>add to cart</button>
        </div>
      </div>
    </div>
  </div>
  <p style="text-align: center;">FOOTER</p>
  <div class="footer">
  </div>
  <div class="copyright">
    <p>copyright @2024, design by: AngkolTonyo</p>
  </div>
  {% endif %}

  <div class="m-auto w-[90%] justify-center">
    <h1 class="text-3xl font-bold ">
    </h1>
  </div>
  <div>
    <button></button>
  </div>
</body>

</html>
--------------------------------------------------------------------------
{% load static %}
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'index_styles.css' %}"> 
</head>

<body>
  {% load account %}
  {% if request.user.is_authenticated and user.is_staff %}
  {% include 'navbar.html' %}
  
  <div class="name-cont">
    <p class="name"> Welcome, {% user_display user %}</p-->
  </div>
  
  
  <div class="logo">
    <div class="logo-info">
      <img src="{% static 'logo.png' %}" alt="My image"/>
    </div>
    <div class="meatshop">
      <h1>Bigornia's</h1>
      <h3>Meat Shop</h3>
    </div>
  </div>
  <div class="cover-photo">
    <p>Fresh Meat</p>
    <p>Available</p>
    <!--button>Order Now</button-->
  </div>
  
  {% else %}
  <div class="name-cont">
    <p class="name">{% user_display user %}</p>
  </div>
  {% include 'navbar.html' %}
  <div class="logo">
    <div class="logo-info">
      <img src="{% static 'logo.png' %}" alt="My image"/>
    </div>
    <div class="meatshop">
      <h1>Bigornia's</h1>
      <h3>Meat Shop</h3>
    </div>
  </div>
  <div class="cover-photo">
    <p>Fresh Meat</p>
    <p>Available</p>
    <button>Order Now</button>
  </div>
  <!--div class="flex m-auto border w-[60%] justify-center  bg-blue-200 h-20 rounded rounded-lg">
    <p class="mt-6 ml-3"> Hello.</p>
    <a class="ml-auto mt-6 mr-3" href="{% url 'account_login' %}">Sign in</a>
  </div-->
  <div class="category">
    <div class="categ">
      <a href="{% url 'prodCateg' 'All' %}">All Products</a>
        <a href="{% url 'prodCateg' 'Beef' %}">Beef</a>
        <a href="{% url 'prodCateg' 'Pork' %}">Pork</a>
        <a href="{% url 'prodCateg' 'Chicken' %}">Chicken</a>
    </div>
    <div class="cart">
      <a href="/cart.html">Cart</a>
    </div>
  </div>
  
  <!-------------------------------------------------------------------------->
  <div class="product-gallery">
    {% for x in products %}
    <div class="prod-cont">
      <div class="prod">
        <img src="{{ x.image.url }}" width = '180px' height="200px" style="border: 1px solid black;"/>
        <h5>{{ x.prodName}}</h5>
        <p>Price: {{ x.price}}</p>
        <button>add to cart</button>
      </div>
    </div>
    {% endfor %}
    
  </div>
  
  <!-------------------------------------------------------------------------->
  <p style="text-align: center;">FOOTER</p>
  <div class="footer">
  </div>
  <div class="copyright">
    <p>copyright @2024, design by: AngkolTonyo</p>
  </div>
  
  {% endif %}
</body>

</html>