{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'add.css' %}">
    <title>Add Student</title>
</head>
<body>
    {% block content %}
    <div>
        <form action="{% url 'add' %}" method="post" class="add">
            {% csrf_token %}
            <p>Add Student</p>
            <input name="firstname" placeholder="Firstname" type="text">
            <input name="lastname" placeholder="Lastname" type="text">
            <input name="age" placeholder="Age" type="number">
            <input type="number" placeholder="year" name="year">
            <input name="contactnumber" placeholder="contactnumber" type="number">
            <input type="submit" value="Submit">
            <p>Back to <a href="/students">Students</a></p>
        </form>
    </div> 
    {% endblock %}
</body>
</html>
