{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'update.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="updaterecord/{{ students_list.id }}" method="post">
        {% csrf_token %}
        <p>Update student</p>
        First Name:<br>
        <input name="firstname" value="{{ students_list.firstname }}">
        <br><br>
        Last Name:<br>
        <input name="lastname" value="{{ students_list.lastname }}">
        <br><br>
        Age:<br>
        <input name="age" value="{{ students_list.age }}">
        <br><br>
        Course:<br>
        <input name="course" value="{{ students_list.course }}">
        <br><br>
        <input type="submit" value="Submit">
        
        <p>back to <a href="/students">Students</a> </p>
        </form>

    </form>
</body>
</html>