<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "master.html" %}

    {% block title %}
        food list system
    {% endblock %}

    {% block content %}

    <h1>Students</h1>
        {% if foods %}
            <ul>
                {% for foods in food %}
                    <li>{{food.name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No foods found.</p>
    {% endif %}

    {% endblock %}
</body>
</html>