*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}
.left a{
    margin-right: 20px;
}
.right{
    width: 50%;
    display: flex;
    justify-content: right;
    
}
.right a{
    margin-left: 20px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.logo img{
    width: 150px;
    height: 150px;
}
.meatshop h1{
    font-size: 6rem;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.meatshop h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.cover-photo{
    background: url("/static/cover.png") center center/cover no-repeat;
    margin: 0 20%;
    height: 450px;
    text-align: center;
    align-content: center;
    color: white;
}
.cover-photo p{
    font-size: 6.5rem;
    font-weight: 900;
}
.cover-photo button{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}
.cover-photo img{
    width: 100%;
}
.category{
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}
.categ a{
    margin-right: 50px;
}
.product-gallery{
    margin: 10px 20% 0 20%;
    background-color: rgb(68, 0, 0);
    padding: 20px;
    display: flex;
    gap: 1rem;
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
}
.prod-cont{
    width: 207.5px;
    height: 280px;
    background-color: white;
    padding: 10px;
}
.prod{
    text-align: center;
}
.prod .image img{
    width: 180px;
    height: 200px;
    text-align: center;
}
.footer{
    margin: 20px 20% 0 20%;
    height: 50vh;
    background-color: rgb(68, 0, 0);
}
.copyright{
    text-align: center;
    font-style: italic;
}
.name-cont{
    margin: 0 20%;
    text-align: right;
    font-size: 1rem;
    font-weight: 300;
}
.seemore{
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.see{
    color: black;
    font-size: 15px;
    padding: 3px 10px;
    background-color: white;
    border-radius: 5px;
}
.see:hover{
    color: white;
    background-color: rgb(93, 90, 90);
    cursor: pointer;
}